<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NMR - Sales</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
<div class="homepage">
    <div id="NMRElement"><a href="/">Nordic Motorhome Rentals</a>
    </div>
    <div id="motorhomesElement"><a href="/motorhomes">Motorhomes</a>
    </div>
    <div id="maintenanceElement"><a href="/maintenance">Maintenance</a>
    </div>
    <div id="salesElement"><a href="/sales">Sales</a>
    </div>
    <div id="dropOffElement"><a href="/dropOff">Drop Off</a>
    </div>

</div>

<div class="container">
    <h1>Motorhomes in fleet</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Model name</th>
            <th>Beds</th>
            <th>Price</th>
            <th>License Plate</th>
            <th colspan="2"><a th:href="@{/addMotorhome}"><button id="addMotoHead" >Add motorhome</button></a></th>
        </tr>




    </table>
</div>


</body>
</html>